<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hikvision.wl.test.demo.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.hikvision.wl.test.demo.model.UserEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_sex" property="userSex" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
    </resultMap>



    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM UserEntity
    </select>
    <select id="getOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_list"/>
        FROM UserEntity
        where id=#{id}
    </select>



    <insert id="insert" parameterType="com.hikvision.wl.test.demo.model.UserEntity">
        INSERT INTO
        UserEntity
        (userName,password,user_sex)
        VALUES
        (#{userName},#{password},#{userSex})
    </insert>

    <update id="update" parameterType="com.hikvision.wl.test.demo.model.UserEntity">
        UPDATE
      UserEntity
        set
        userName=#{userName}
        password=#{password}
        nick_name=#{nickName}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM
           UserEntity
        where
            id=#{id}
    </delete>
</mapper>
